{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chillin` - Chat</title>
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <meta name="theme-color" content="#0e0e0e" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta content="true" name="HandheldFriendly" />
    <meta content="width" name="MobileOptimized" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="stylesheet" href="{% static 'CSS/room.css' %}" />

    <!-- <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    /> -->
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black" /> -->

    <script src="https://unpkg.com/swup@3.0.2/dist/Swup.umd.js"></script>
    <link
      rel="shortcut icon"
      href="{% static 'Images/main_site_icon.png' %}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--            <meta charset="utf-8">-->
    <!--    <title>Custom Right Click Context Menu | CodingNepal</title>-->
    <!--    <link rel="stylesheet" href="style.css">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <!--    &lt;!&ndash; Iconscout Link For Icons &ndash;&gt;-->
    <!--    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">-->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <!-- <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    /> -->
  </head>
  <body>
    <!-- <input class="test_input" /> -->
    <!--    <img id="copied_image"/>-->
    <!--        <p style='background-image: url({% static 'Images/room_BG_2.jpg' %})'>-->
    <!--        <div id="search_list">-->
    <!--            <input type="texd" id="SEARCH" aria-hidden="Search">-->
    <!--              <div id="opencontent" class="open-content">-->
    <!--                {%for value in all_chats%}-->
    <!--                    {% csrf_token %}-->
    <!--                    <p><img class="picture" src="{% static 'Images/default_avatar.jpg' %}" alt="avatar">-->
    <!--                        <input class="users" type="submit" name="users" value="        {{value}}"></p>-->
    <!--                    {% endfor %}-->
    <!--              </div>-->
    <!--        </div>-->

    <!--            <input type="button" onclick="notifSet()" value="Notification">-->

    <!--<div id="select_chat_to_start">-->
    <!--    Select a chat to start-->
    <!--</div>-->

    <div class="choose_list">
      {% csrf_token %}
      <div class="search_div" id="search">
        <div class="liquidGlass-effect"></div>
        <div class="liquidGlass-tint"></div>
        <div class="liquidGlass-shine"></div>
        <div class="search_field_div">
          <div class="search_icon_div">
            <object
              id="search_icon"
              data="{% static 'SVG/search.svg' %}"
            ></object>
          </div>
          <input class="search_field" name="term" placeholder="Search" />
        </div>
        <div class="search_cross_div">
          <object
            class="search_cross"
            data="{% static 'SVG/cross.svg' %}"
          ></object>
        </div>
      </div>
      <div class="left-menu">
        <div class="shadow-header"></div>

        <div class="settings_menu">
          <div id="user_avatar_settings_menu">
            <div class="user_avatar_settings_menu_background"></div>
            <div id="user_avatar_settings_menu_image"></div>
            <div id="username_settings_menu"></div>
          </div>
          <hr
            style="background: rgba(0, 0, 0, 0.2); height: 1px; border: none"
          />

          <div id="create_new_group" class="settings_menu_div">New Group</div>
          <!--                        <div id="create_new_channel" class="settings_menu_div">New Channel</div>-->

          <div id="settings" class="settings_menu_div">Settings</div>

          <div id="dark_mode" class="settings_menu_div">
            Dark Mode
            <label class="switch">
              <input type="checkbox" id="dark_mode_check" />
              <span class="slider round"></span>
            </label>
          </div>
          <div id="logout" class="settings_menu_div">Log Out</div>
          <div class="reloadLocationButton settings_menu_div">Clear Cache</div>
        </div>
        <div id="users_search" class="users_search active" method="POST"></div>
      </div>
      <div class="left-menu-footer-padding">
        <div class="left-menu-footer">
          <div class="tab-indicator"></div>
          <div class="left-menu-footer-chats active" data-tab="chats">
            <svg class="chats_icon">
              <use href="#chats-icon"></use>
            </svg>
          </div>
          <div class="left-menu-footer-settings" data-tab="settings">
            <div class="dropbtn"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="create_new_group_room">
      <div id="creation_group_GIVE_A_NAME">
        <input id="creation_group_GIVE_A_NAME_input" />
      </div>

      <div id="creation_group_NEXT_CANCEL_div_GROUPNAME">
        <input
          type="file"
          id="input_room_avatar"
          accept="image/png, image/gif, image/jpeg"
        />
        <span id="creation_group_CANCEL_GROUPNAME">Cancel</span>
        <span id="creation_group_NEXT_GROUPNAME">Next</span>
      </div>

      <div id="creation_group_CREATE_CANCEL_div">
        <span id="creation_group_CANCEL">Cancel</span>
        <span id="creation_group_CREATE">Create</span>
      </div>
    </div>

    <div class="all_my_contacts" method="POST"></div>

    <div id="create_new_channel_room">
      <div id="creation_channel_GIVE_A_NAME">
        <input id="creation_channel_GIVE_A_NAME_input" />
      </div>

      <div id="creation_channel_CREATE_CANCEL_div">
        <span id="creation_channel_CANCEL">Cancel</span>
        <span id="creation_channel_CREATE">Create</span>
      </div>

      <div id="creation_channel_NEXT_CANCEL_div_GROUPNAME">
        <input
          type="file"
          id="input_channel_avatar"
          accept="image/png, image/gif, image/jpeg"
        />
        <span id="creation_channel_CANCEL_GROUPNAME">Cancel</span>
        <span id="creation_channel_NEXT_GROUPNAME">Next</span>
      </div>
    </div>

    <div class="settings">
      <div id="settings_title">Settings</div>
      <div id="user_settings_div_main">
        <div id="user_settings_image_div"></div>
        <div id="user_settings_div_email_username">
          <div id="user_settings_div"></div>
          <div id="user_settings_email_div"></div>
        </div>
      </div>

      <hr style="background: rgba(0, 0, 0, 0.2); height: 1px; border: none" />
      <div>
        <input
          id="shadow_degree_chat"
          type="range"
          min="0"
          max="360"
          step="1"
          value="0"
        />
      </div>

      <!--                        <div><input id="chat_background_image" type="file" accept="image/png, image/gif, image/jpeg"></div>-->

      <div id="avatar_profile_set">
        <input
          type="file"
          id="input_user_avatar"
          accept="image/png, image/gif, image/jpeg"
        />
        <div id="avatar_profile_set_save">Save</div>
      </div>

      <div id="color_chat_change_div">
        <input type="color" id="color_chat_change" name="color_chat_change" />
      </div>
    </div>

    <div class="main_chat_window">
      <div class="chat-background-image"></div>
      <div class="attachments">
        <div id="attachments_title">
          <div class="close-menu">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 5L5 19M5.00001 5L19 19"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div id="opponent_photo_avatar"></div>
        <div class="tab">
          <button
            class="tablinks"
            onclick="openCity(event, 'attachment_photos')"
          >
            Photos
          </button>
          <button
            class="tablinks"
            onclick="openCity(event, 'attachment_videos')"
          >
            Videos
          </button>
          <button
            class="tablinks"
            onclick="openCity(event, 'attachment_files')"
          >
            Files
          </button>
          <button
            class="tablinks"
            onclick="openCity(event, 'attachment_music')"
          >
            Music
          </button>
          <button
            class="tablinks"
            onclick="openCity(event, 'attachment_links')"
          >
            Links
          </button>
        </div>

        <div id="attachment_photos" class="tabcontent"></div>
        <div id="attachment_videos" class="tabcontent"></div>
        <div id="attachment_files" class="tabcontent"></div>
        <div id="attachment_music" class="tabcontent"></div>
        <div id="attachment_links" class="tabcontent"></div>
      </div>

      <div id="opponent_title_name">
        {% csrf_token %}
        <div class="go_home_page" onclick="go_home_page_func()">
          <img
            class="arrow-left"
            type="image/svg+xml"
            src='{% static "SVG/arrow.svg" %}'
          />
        </div>
        <!-- <input type="reset" id="name" value="{{users}}" /> -->
        <div id="name"></div>
        <div class="opponent_photo_div">
          <img
            class="user-info-avatar"
            src="{% static 'Images/default_avatar.jpg' %}"
            class="user-info-avatar"
          />
        </div>
        <input type="hidden" id="username_id" value="{{username.id}}" />
      </div>

      <div class="audio_title_div">
        <div id="file_name_title_div"></div>
        <div class="close_audio_div" onclick="close_audio_div_func()">X</div>
        <input
          type="range"
          id="audio-slider"
          min="0"
          max="1000000"
          value="0"
          step="0.0000000001"
          oninput="seek()"
        />
      </div>

      <audio class="hidden_audio"><source type="audio/mpeg" /></audio>

      <!-- <div class="overflow-visible-scroll">
        <div class="overflow-display"></div>
      </div> -->
      <div class="offset room_div room_body" id="display"></div>
      <div class="scroll_down">
        <div id="arrow_down_scroll" class="fa fa-angle-down"></div>
      </div>
      <form
        id="post-form"
        class="send_div send_div_class"
        enctype="multipart/form-data"
        action="send"
      >
        {% csrf_token %}

        <div id="file_div">
          <input type="file" multiple name="file" id="file" download />
          <object
            id="input_attach"
            data='{% static "SVG/attach.svg" %}'
          ></object>
        </div>

        <input
          type="hidden"
          name="username"
          id="username"
          value="{{username.id}}"
        />
        <input
          type="hidden"
          name="room_id"
          id="room_id"
          value="{{room_details.id}}"
        />
        <input
          type="hidden"
          name="room"
          id="room"
          value="{{room_details.name}}"
        />
        <div class="textarea_container">
          <textarea
            type="text"
            placeholder="Message"
            name="message"
            class="textarea"
          ></textarea>
        </div>

        <!-- <div>
          <svg
            id="sticker_menu_icon"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 122.88 122.88"
          >
            <path
              d="M45.54,2.1A61.48,61.48,0,1,1,8.25,30.74,61.26,61.26,0,0,1,45.54,2.1ZM30.61,70.3a38,38,0,0,0,8.34,8,40.39,40.39,0,0,0,23.58,7.1A38.05,38.05,0,0,0,85.3,77.68a33.56,33.56,0,0,0,7.08-7.42.22.22,0,0,1,.3-.06L95,72.49a.21.21,0,0,1,0,.27A43.47,43.47,0,0,1,81.7,87.08a35.7,35.7,0,0,1-19,6,36.82,36.82,0,0,1-19.53-5.25A47.5,47.5,0,0,1,27.87,72.9a.23.23,0,0,1,0-.27l2.38-2.36a.22.22,0,0,1,.3,0l0,0ZM76.23,33.89c4.06,0,7.35,4.77,7.35,10.65s-3.29,10.64-7.35,10.64-7.35-4.77-7.35-10.64,3.29-10.65,7.35-10.65Zm-29.58,0c4.06,0,7.35,4.77,7.35,10.65s-3.29,10.64-7.35,10.64S39.3,50.41,39.3,44.54s3.29-10.65,7.35-10.65Zm42.1-19.75A54.64,54.64,0,1,0,114.18,47.3,54.46,54.46,0,0,0,88.75,14.14Z"
            />
          </svg>
        </div> -->
        <div id="selfie">
          <input
            type="file"
            id="picture"
            name="file"
            accept="image/*"
            capture="environment"
          />
          <object
            class="camera_svg"
            data="{% static 'SVG/focus.svg' %}"
          ></object>
        </div>
        <div class="input_submit">
          <object
            class="send_svg"
            data="{% static 'SVG/send_phone.svg' %}"
          ></object>
        </div>
        <!--                        <img src="{% static 'Images/stellar_particles.gif' %}"/>-->
      </form>

      <!--              <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>-->
      <!--              <h3 id="status"></h3>-->
      <!--              <p id="loaded_n_total"></p>-->
      <div id="myModal" class="modal">
        <span class="close"></span>
      </div>
    </div>

    <div id="media_display">
      <img class="modal-content" id="img01" />
      <div id="caption"></div>
    </div>

    <div class="calendar_div">
      <header>
        <p class="current-date"></p>
        <div class="icons">
          <span
            id="prev"
            class="material-symbols-rounded fa fa-angle-left"
          ></span>
          <span
            id="next"
            class="material-symbols-rounded fa fa-angle-right"
          ></span>
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>

    <div class="wrapper">
      <div class="content">
        <ul class="menu">
          <li class="item">
            <i class="uil uil-eye"></i>
            <span>Preview</span>
          </li>
          <li class="item share">
            <div>
              <i class="uil uil-share"></i>
              <span>Share</span>
            </div>
            <i class="uil uil-angle-right"></i>
            <ul class="share-menu">
              <li class="item">
                <i class="uil uil-twitter-alt"></i>
                <span>Twitter</span>
              </li>
              <li class="item">
                <i class="uil uil-instagram"></i>
                <span>Instagram</span>
              </li>
              <li class="item">
                <i class="uil uil-dribbble"></i>
                <span>Dribble</span>
              </li>
              <li class="item">
                <i class="uil uil-telegram-alt"></i>
                <span>Telegram</span>
              </li>
            </ul>
          </li>
          <li class="item">
            <i class="uil uil-link-alt"></i>
            <span>Get Link</span>
          </li>
          <li class="item">
            <i class="uil uil-copy"></i>
            <span class="tooltip" onclick="saveText()" onmouseout="outFunc()">
              <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
              Copy text
            </span>
          </li>
          <li class="item">
            <i class="uil uil-trash-alt"></i>
            <span>Delete</span>
          </li>

          <li class="item">
            <i class="uil"></i>
            <span class="tooltip" id="uil-select"> Select </span>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="{% static 'JS/room.js' %}"></script>
</html>

<svg style="display: none">
  <filter
    id="glass-distortion"
    x="0%"
    y="0%"
    width="100%"
    height="100%"
    filterUnits="objectBoundingBox"
  >
    <feTurbulence
      type="fractalNoise"
      baseFrequency="0.01 0.01"
      numOctaves="1"
      seed="5"
      result="turbulence"
    />
    <!-- Seeds: 14, 17,  -->

    <feComponentTransfer in="turbulence" result="mapped">
      <feFuncR type="gamma" amplitude="1" exponent="10" offset="0.5" />
      <feFuncG type="gamma" amplitude="0" exponent="1" offset="0" />
      <feFuncB type="gamma" amplitude="0" exponent="1" offset="0.5" />
    </feComponentTransfer>

    <feGaussianBlur in="turbulence" stdDeviation="3" result="softMap" />

    <feSpecularLighting
      in="softMap"
      surfaceScale="5"
      specularConstant="1"
      specularExponent="100"
      lighting-color="white"
      result="specLight"
    >
      <fePointLight x="-200" y="-200" z="300" />
    </feSpecularLighting>

    <feComposite
      in="specLight"
      operator="arithmetic"
      k1="0"
      k2="1"
      k3="1"
      k4="0"
      result="litImage"
    />

    <feDisplacementMap
      in="SourceGraphic"
      in2="softMap"
      scale="150"
      xChannelSelector="R"
      yChannelSelector="G"
    />
  </filter>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="chats-icon" viewBox="0 0 256 256">
    <path
      d="M227.79 186.39a76 76 0 0 0-61-110.07a76 76 0 1 0-138.58 62.07L20.5 164.6a12 12 0 0 0 14.9 14.9l26.21-7.71a75.93 75.93 0 0 0 27.6 7.9a76 76 0 0 0 105.18 40.1l26.21 7.71a12 12 0 0 0 14.9-14.9ZM60.9 163.66l-27.76 8.17a4 4 0 0 1-5-5l8.17-27.76a4.07 4.07 0 0 0-.31-3A68 68 0 1 1 63.92 164a4.06 4.06 0 0 0-3.02-.34m165.92 55.16a4 4 0 0 1-4 1l-27.76-8.17a4.07 4.07 0 0 0-3 .31A68 68 0 0 1 98 180a76 76 0 0 0 71.5-95.28a68 68 0 0 1 50.5 99.36a4.07 4.07 0 0 0-.31 3l8.17 27.76a4 4 0 0 1-1.04 3.98"
    />
  </symbol>
</svg>

<svg
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 600 600"
  style="
    position: fixed;
    left: -100%;
    top: -100%;
    width: 1px;
    height: 1px;
    opacity: 0;
  "
  aria-hidden="true"
  focusable="false"
>
  <defs>
    <filter id="goo" color-interpolation-filters="sRGB">
      <feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />
      <feColorMatrix
        in="blur"
        mode="matrix"
        values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 25 -10"
        result="cm"
      />
    </filter>
  </defs>
</svg>
